In [1]:
library(twitteR)

In [2]:
consumer_key <- "Binqmp6m2gBhf0xGMwHC8y6Dz"
consumer_secret <- "hN2YYXrtCHZyLjYN28JcGj1UEHygY2EMrJ4UIEMdntO5WreH1O"
access_token <- "877850572681916416-BMA9IPreObacxE02eyqXUuJJquQGrHL"
access_secret <- "orseSD4oKKeRd0AywUB91bA2eePixsI5ht4nRu9YwxCT4"
setup_twitter_oauth(consumer_key, consumer_secret, access_token, access_secret)

[1] "Using direct authentication"

In [6]:
consumer_key <- "34tKxJkGOutOtgyKDU0hJAsUk"
consumer_secret <- "a65Sj0EONkBiPOBg2O8tBstA1nvHydCAT81JAC0ssM5M1mMBj7"
access_token <- "877850572681916416-GYp3Q5ZD5uY3rgdHtC5VEYo4QlBFy1d"
access_secret <- "o984A1JGocVm0Op5Y3Y48PxDx0RBYjvMsYtM2hsBOd2Je"
setup_twitter_oauth(consumer_key, consumer_secret, access_token, access_secret)

[1] "Using direct authentication"

In [3]:
db2 <- RSQLite::datasetsDb() # Initialie a database
register_db_backend(db2) #Functions to setup a database backend for twitteR
sql_lite_file='VeeraDB' #path to db file
register_sqlite_backend(sql_lite_file)  #create the DBI connection and call register_db_backend

In [11]:
# tweetresult <- search_twitter_and_store(searchString = "flu no work",lang = 'en', retryOnRateLimit = 120);
tweetresult <- unclass(search_twitter_and_store(searchString = "flu",lang = 'en', retryOnRateLimit = 120)[[1]])
# flu +
# flu no work
# flu down
# flu vomiting
# flu coughing
# flu with sick

# flu Headache
# flu diarrhea
# flu Fatigue
# flu fever
# flu season

In [12]:
con = dbConnect(SQLite(), dbname="VeeraDB")

In [13]:
myQuery <- dbSendQuery(con, "SELECT * FROM tweets")

In [14]:
my_data <- dbFetch(myQuery, n = -1)

In [15]:

df <- twListToDF(my_data)

ERROR: Error in twListToDF(my_data): Not all elements of twList are of the same class